  
    {% extends 'base.html' %}


    {% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn about CEO</title>
</head>
<body>
    <h1 style="font-weight: bolder;">Kemo Smith - CEO</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/static/college.png" class="d-block" alt="..." width="400" height="500">
        </div>
        <div class="col order-12">
          <img src="/static/basketmath.jpg"  class="d-block " alt="..." width="400" height="500">
        </div>
        <div class="col order-1">
          <img src="/static/basketball.png"  class="d-block " alt="..." width="400" height="500">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row border border-5">
          <div class="col border border-5">
            <h2 class="colTextAlign"><u>Education</u></h2>
            <p>Right now I am 16 years old, and I was born in Fresno, CA. 
              I'm trying to pursue a major in computer science at a 4 year university after my senior year this year. Currently attending Oakland Technicial High School.</p>
          </div>
          <div class="col border border-5">
            <h2 class="colTextAlign" id="researchPopup"><u>About Hooping Thru Arithmetics</u></h2>
            <p>With this plan, I going to target the majority of students, who play basketball competitvely in the Bay Area in order to improve their arthimetic skills.</p>
          </div>
          <div class="col border border-5">
            <h2 class="colTextAlign"><u>About Me</u></h2>
            <ul>
              <li>Technically I should be a junior, but I skipped a year so I am now a senior!</li>
              <li>I play basketball for fun but have recently participated in tournament runs. I use to be on the basketball team in middle school.</li>
              <li>My favorite food is either pozole, tamales, or tacos. My grandma makes the best pozole or tamales!</li>
              </ul>
          </div>
        </div>
      </div>
</body>
</html>

    {% endblock %}